body {
	background-image:url("neo.png");
	background-repeat:repeat-x,repeat-y; 
	background-size:cover;
	height: 100%;
	margin: 0;
	text-align: center;
	width: 100%;
}
header{
	
	padding: 20px 0;
}

footer .row {
  display: flex;
  align-items: center;
}

h1 {
	
	color: #00ff00;
	font-size: 32px;
}

h2 {
	color: #ffffff;
	font-size: 56px; 
}


.col-sm-3{
	color:Gray;
	text-align:center;
}
#myDecoder{
	font-style: italic;
    color:Black;
}
footer{
	font-size: 12px;
	padding: 20px 0;
}
footer .col-sm-8 {
  display: flex;
  justify-content: flex-end;
}

footer ul {
  list-style: none;
}

footer li img {
  width: 32px;
  height: 32px;
}
.choice{
    position: relative;
    color:black;
    padding: 20px;
    width: 200px;
    text-align: center;
    -webkit-transition-duration: 0.4s; 
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
}

.choice:after {
    content: "";
    background: #f1f1f1;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -20px !important;
    margin-top: -120%;
    opacity: 0;
    transition: all 0.8s
}

.choice:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
}
	

